<header class="navigation">
    <h2 class="logo">Projects</h2>
    <section class="nav_menu">
        <ul>
            <lil>Basic HTML portfolio</li>
            <li>Viking CSS Garden</li>
            <li>Facebook clone assigment</li>
            <li>Howe Learning</li>
            <li>Javascript / Node.js</li>
            <li>Express.js</li>
            <li>API</li>
        </li>

    </section><!-- nav -->
</header>